.nav {
  order: 3;
  position: relative;
  backdrop-filter: blur(1.5rem);
  background-color: rgba(255, 255, 255, 0.04);
  padding: 33px 10px 33px 100px;
  flex-basis: 50%;
  margin-left: -50px;
}

.nav .nav-close {
  display: none;
}

.nav ul {
  display: flex;
  gap: 3rem;
}

.nav ul .nav-items a {
  color: #fff;
  font-size: 18px;
  position: relative;
}

.nav ul .nav-items a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #fff;
  bottom: -33px;
  left: 0;
  transition: 0.4s ease-in-out;
}

.nav ul .nav-items a:hover::after {
  width: 100%;
  opacity: 0.5;
}

.nav ul .nav-items.active a::after {
  width: 100%;
}

.nav ul .nav-items a span {
  font-weight: 700;
  margin-right: 5px;
  letter-spacing: 2px;
}

/* media*/

@media screen and (max-width: 992px) {
  .nav ul .nav-items a span {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    z-index: 10;
    padding: 100px 105px 0 35px;
    transform: translateX(300px);
    transition: 0.5s ease-in-out;
  }

  .nav.active {
    transform: translateX(0);
  }

  .nav .nav-close {
    position: absolute;
    top: 33px;
    right: 26px;
    cursor: pointer;
    display: block;
  }

  .nav ul {
    display: block;
  }

  .nav ul .nav-items {
    margin-bottom: 2rem;
  }

  .nav ul .nav-items a::after {
    /* display: none;*/
    left: 208px;
    height: 30px;
    bottom: inherit;
  }

  .nav ul .nav-items a:hover::after {
    opacity: 1;
  }

  .nav ul .nav-items a span {
    display: inline-block;
  }
}
